*{
 margin: 0;
padding: 0;
font-family: 'poppins', sans-serif;
font-weight: 10;
}
body{
  display: flex;
  justify-content: center;
  background: #2e2e2e;
  color: #ccc;
}
.container{
  width: 300px;
  height: 500px;
  margin-top: 50px;
}
h1{
  text-align: center;
  font-size: 4em;
  margin-bottom: 100px;
}
input{
  display: block;
  border: none;
  background: #2e2e2e;
  border-bottom: 1px solid #ccc;
  color: #fff;
  margin-top: 12px;
  margin-bottom: 10px;
  width: 290px;
  height: 30px;
  font-size: medium;
  padding: 0 10px;
}
input:focus{
  outline: none;
  padding: 0 10px;
}
button{
  margin-left: 73px;
  width: 150px;
  height: 50px;
  margin-top: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background: #ccc;
}
button:hover{
 background: #fff;
 border: 1px solid #fff; 
 cursor: pointer;
}



